ConnectionStrings__Postgres=<set-outside-git>
ConnectionStrings__Redis=<set-outside-git>

POSTGRES_USER=fullstackops
POSTGRES_DB=fullstackops
POSTGRES_PASSWORD=<set-outside-git>
Cache__TasksTtlSeconds=60
ASPNETCORE_ENVIRONMENT=Development

GF_SECURITY_ADMIN_USER=<set-outside-git>
GF_SECURITY_ADMIN_PASSWORD=<set-outside-git>
